<div id="mySidenav" class="sidenav">
    <p class="logo"><img src="/images/ds_wht.png" style="max-width: 120px;margin-left: 10px;"><span class="menu">☰</span></p>
    <p class="logo1"> <span class="menu1">☰</span></p>
    <a href="/admindash" class="icon-a"><i class="fa fa-dashboard icons"></i> Dashboard</a>
    <a href="/adminproducts" class="icon-a"><i class="fa fa-pie-chart icons"></i> Products</a>
    <a href="/admincategory" class="icon-a"><i class="fa fa-list-alt icons"></i> Category</a>
    <a href="/admincustomers" class="icon-a"><i class="fa-solid fa-people-group"></i> Customers</a>
    <a href="/adminbrand" class="icon-a"><i class="fa-solid fa-business-time"></i> Brands</a>
    <a href="/adminorders" class="icon-a"><i class="fa fa-shopping-bag icons"></i> Orders</a>
    <a href="/admincoupon" class="icon-a"><i class="fa-solid fa-ticket"></i> Coupons</a>
    <a href="/adminoffers" class="icon-a"><i class="fa-solid fa-credit-card"></i> Offers</a>
    <a href="/adminbanner" class="icon-a"><i class="fa fa-user icons"></i> Banner</a>
    <!-- <a href="#" class="icon-a"><i class="fa-solid fa-right-from-bracket"></i> Offers</a> -->
    
</div>