<!Doctype HTML>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="css/admin.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/65b842e152.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <script src="/js/customerAjax.js"></script>

</head>


<body>




    <div id="mySidenav" class="sidenav">
        <p class="logo"><img src="/images/ds_wht.png" style="max-width: 120px;margin-left: 10px;"><span class="menu">☰</span></p>
        <p class="logo1"> <span class="menu1">☰</span></p>
        <a href="/admindash" class="icon-a"><i class="fa fa-dashboard icons"></i> Dashboard</a>
        <a href="/adminproducts" class="icon-a"><i class="fa fa-pie-chart icons"></i> Products</a>
        <a href="/admincategory" class="icon-a"><i class="fa fa-list-alt icons"></i> Category</a>
        <a href="/admincustomers" class="icon-a"><i class="fa-solid fa-people-group"></i> Customers</a>
        <a href="/adminbrand" class="icon-a"><i class="fa-solid fa-business-time"></i> Brands</a>
        <a href="#" class="icon-a"><i class="fa fa-shopping-bag icons"></i> Orders</a>
        <a href="#" class="icon-a"><i class="fa-solid fa-credit-card"></i> Payments</a>
        <a href="#" class="icon-a"><i class="fa fa-user icons"></i> Banner</a>
        <a href="#" class="icon-a"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
        
    </div>